@font-face {
    font-family: 'OPTIFutura-ExtraBlackCond';
    src:url('./fonts/OPTIFutura-ExtraBlackCond.ttf.woff') format('woff'),
        url('./fonts/OPTIFutura-ExtraBlackCond.ttf.svg#OPTIFutura-ExtraBlackCond') format('svg'),
        url('./fonts/OPTIFutura-ExtraBlackCond.ttf.eot'),
        url('./fonts/OPTIFutura-ExtraBlackCond.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: black;
    color: white;
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
}


h1 {
    font-size: 5rem;
    font-family: 'OPTIFutura-ExtraBlackCond';
    text-transform: uppercase;
}

.body-para {
font-size: 18px;
text-align: left;
margin-bottom: 20px!important;
font-weight: 300;

}

.body-lead {
font-size: 28px;
font-family: 'Open Sans'. sans-serif;
text-align: center;
font-weight: 800;
margin-top:50px!important;
margin-bottom:50px!important;

}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3.5rem;
        font-family: 'OPTIFutura-ExtraBlackCond';
        text-transform: uppercase;
    }
    .body-lead {
    font-size: 20px;


    }
}


.logo {
    max-width: 300px;
    width: 100%;
}

.btn-primary {
    background-color: black;
    border: 1px solid white;
    border-radius: 0;
    color: white;
    cursor: pointer;
    padding: 10px 50px;
    font-size: 35px;
    margin-top:45px;
    margin-bottom:45px;
}

.btn-primary:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid white;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: underline;
}